@{
    ViewBag.Title = "General Informations";
}
<br />

<h2>This blog page contains my personal informations and a lot of posts about computer engineering</h2>
<section id="Skills" class="clearfix" itemscope itemtype="http://schema.org/ItemList">
    <h3 itemprop="name">Post Contents</h3>
    <section id="skills-left">
        <ul>
            <li itemprop="itemListElement">HTML5</li>
            <li itemprop="itemListElement">Java Programming Language</li>
            <li itemprop="itemListElement">C Programming Language</li>
            <li itemprop="itemListElement">Oracle Database Management System</li>
            <li itemprop="itemListElement">Computer Networking</li>
        </ul>
    </section>
</section>
